body {  font-family: Verdana, Arial, Helvetica, sans-serif; width: 100%; max-width: 700px; margin: 0 auto; }
pre {  font-family: "Courier New", Courier, mono}
.email {  font-size: small; background-color: #CCCCCC}
